# ============== Database ==============
DATABASE_URL=postgresql://user:password@localhost:5432/beyblade_tournament

# ============== Server ==============
# Railway 会自动注入 PORT 变量
PORT=3000
SERVER_HOST=0.0.0.0

# ============== Node ==============
NODE_ENV=production

# ============== Master Admin Key ==============
# 万能管理员密码，可进入任意比赛管理后台、删除任意比赛
MASTER_ADMIN_KEY=xgy667196

# ============== Logger ==============
LOG_DIR=./logs
LOG_REQUEST_BODY=true
LOG_RESPONSE_BODY=true
